.form {
  font-size: 1.2rem
  color: #172b4d
}
.form__title, .form__description {
  padding: 5px 10px
  font-size: 1.2rem
  width: 100%
  color: #172b4d
}

.form__priority {
  margin: 0 1rem
  padding: 4px 10px
  font-size: 1.2rem
  background-color: inherit
  color: #172b4d
}

.form__buttons-box {
  display: flex
  justify-content: space-between
}