.navigation {
  display: flex
  justify-content: space-between
  align-items: center
}

.navigation__filter {
  margin: 0 1rem
  padding: 4px 10px
  width: 200px
  font-size: 1.2rem
  background-color: inherit
  color: #172b4d
}